<div class="form articles-manager-auth">
	<div class="container">
		<h1>Auth</h1>
		<form action="/articles-manager/auth" method="POST" autocomplete="off">
			<input type="text" name="username" placeholder="Username" class="form-control" autocomplete="off">
			<input type="password" name="password" placeholder="Password" class="form-control">
			<div class="button-container"><button class="button" type="submit">SingIn</button></div>
		</form>
	</div>
</div>