<div class="form add-article">
    <div class="container">
        <h1 class="title">Edit Article</h1>
        <form action="/articles-manager/edit/{{article.articleId}}" method="POST" enctype="multipart/form-data" autocomplete="off">
            
            <label for="articleRouteInput" class="form-label">Route</label>
            <div class="route-input">
                <span for="articleRouteInput" id="newsRouteInputAddon">news/</span>
                <input value="{{article.articleRoute}}" type="text" name="route" id="articleRouteInput" autofocus required>
            </div>

            <label for="articleTitleInput">Title</label>
            <input value="{{article.articleTitle}}" type="text" name="title" id="articleTitleInput" class="form-control" required>
            
            <label for="articleFileInput">Content</label>
            <div class="file-input">
                <label for="articleFileInput">Slect file</label>
                <span id="file-selected">no file selected</span>
                <input type="file" name="file" id="articleFileInput" accept=".md">
            </div>
            <div id="fileHelp" class="form-text">/*It has to be an .md file*/</div>

            <label for="articleImageInput">Image</label>
            <div class="file-input">
                <label for="articleImageInput">Slect file</label>
                <span id="image-selected">no file selected</span>
                <input type="file" name="image"  id="articleImageInput" accept=".png, .jpg, .jpeg">
            </div>
            <div id="imageHelp" class="form-text">/*It has to be an .png image, preferably 1920 by 1080 size*/</div>

            
            <label for="articleContentInput">Description</label>
            <textarea id="articleContentInput" name="description" rows="3" required>{{article.articleDescription}}</textarea>
            

            <div class="button-container">
                <button class="button" type="submit">
                    Update
                </button>
            </div>
        </form>
    </div>
</div>
<script>
    const articleFileInput = document.getElementById('articleFileInput');
    const fileSelected = document.getElementById('file-selected');
    articleFileInput.addEventListener('change', () => {
        let routeName = articleFileInput.value;
        let fileName = routeName.split('\\');
        console.log(fileName[fileName.length - 1]);
        fileSelected.innerHTML = fileName[fileName.length - 1];
    });

    const articleImageInput = document.getElementById('articleImageInput');
    const imageSelected = document.getElementById('image-selected');
    articleImageInput.addEventListener('change', () => {
        let routeName = articleImageInput.value;
        let fileName = routeName.split('\\');
        console.log(fileName[fileName.length - 1]);
        imageSelected.innerHTML = fileName[fileName.length - 1];
    });
</script>