
<nav class="navbar articles-manager-navbar">
	<div class="container">
		<a class="logo" href="/articles-manager">
			<img src="/icons/logo/scMinLogo1.svg" alt="" >
		</a>
		<div class="items">
			<a class="nav-link" href="/articles-manager/add">add article</a>
			<a class="nav-link" href="/news">News</a>
		</div>
		<div class="button-container">
			<a class="button" type="button" href="/articles-manager/logout">
				<p>Logout</p>
			</a>
		</div>
	</div>
</nav>