<nav class="navbar">
	<div class="container">
		<a class="logo" href="/">
			<img src="/icons/logo/scMinLogo1.svg" alt="" >
		</a>
		<div class="items">
			<a class="nav-link" aria-current="page" href="#">Game</a>
			<a class="nav-link" href="/news">News</a>
		</div>
		<div class="button-container">
			<a class="button" type="button" href="signup.php">
				<p>Play now </p><i class="fab fa-windows"></i>
			</a>
		</div>
	</div>
</nav>