<div class="landing-image">  
    <img src="../uploads/{{article.articleImage}}" alt="" style="width: 100%;" >
    <div class="gradient"></div>
</div>
<div class="article-block">
    <div class="content">
        <p class="date">
            {{dateFormat article.articleDate}}
        </p>
        <h1 class="title">
            {{article.articleTitle}}
        </h1>
        <div class="separator"></div>
        <div class="markdown">{{{markdown}}}</div>
    </div>
</div>